{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:accounts_user_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url 'admin:accounts_user_change' user_obj.pk %}">{{ user_obj }}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>Enter a new password for user <strong>{{ user_obj.email }}</strong> ({{ user_obj.full_name }}).</p>
  <form method="post">
    {% csrf_token %}
    <div>
      {% if form.errors %}
        <p class="errornote">Please correct the error below.</p>
        {{ form.non_field_errors }}
      {% endif %}
      <fieldset class="module aligned">
        {% for field in form %}
          <div class="form-row">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="{% translate 'Change password' %}" class="default" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
